<section id="projects" class="container py-2">
  <h3 class="text-primary mb-5 text-center">{{ 'EXPERIENCE.TITLE' | translate }}</h3>
  <button *ngIf="isLoggedIn" class="btn btn-primary no-print">Editar</button>

  <div class="card shadow-sm border-1 animate__animated animate__fadeInUp card-gray">
    <div class="card-body">
      <h5 class="card-title">{{ 'EXPERIENCE.WORK_3.TITLE' | translate }}</h5>
      <h6 class="text-muted">{{ 'EXPERIENCE.WORK_3.PERIOD' | translate }}</h6>
      <p class="text-justify">{{ 'EXPERIENCE.WORK_3.DESCRIPTION' | translate }}</p>
      <strong>{{ 'EXPERIENCE.WORK_3.TOOLS' | translate }}</strong>
       <div class="mt-3">
        <span class="badge badge-sky-soft badge-pulse text-dark me-2 mb-2">Visual Studio 2010</span>
        <span class="badge badge-success-soft badge-pulse me-2 mb-2">C#</span>
        <span class="badge badge-warning-soft badge-pulse text-dark me-2 mb-2">Oracle</span>
        <span class="badge badge-purple-soft badge-pulse text-dark me-2 mb-2">Visual Studio 2019</span>
        <span class="badge badge-danger-soft badge-pulse me-2 mb-2">CSS</span>
        <span class="badge badge-primary-soft badge-pulse me-2 mb-2">Jquery</span>
        <span class="badge badge-warning-soft badge-pulse me-2 mb-2">Javascript</span>
        <span class="badge badge-gray-soft badge-pulse me-2 mb-2">Web Services REST</span>
        <span class="badge badge-purple-soft badge-pulse me-2 mb-2">Visual Studio 2022</span>
        <span class="badge badge-danger-soft badge-pulse me-2 mb-2">Angular</span>
        <span class="badge badge-gray-soft badge-pulse me-2 mb-2">Navicat</span>
        <span class="badge badge-primary-soft badge-pulse me-2 mb-2">Postman</span>
      </div>
    </div>
  </div>
  <br />
  <div class="card shadow-sm border-1 animate__animated animate__fadeInUp card-gray">
    <div class="card-body">
      <h5 class="card-title">{{ 'EXPERIENCE.WORK_2.TITLE' | translate }}</h5>
      <h6 class="text-muted">{{ 'EXPERIENCE.WORK_2.PERIOD' | translate }}</h6>
      <p class="text-justify">{{ 'EXPERIENCE.WORK_2.DESCRIPTION' | translate }}</p>
      <strong>{{ 'EXPERIENCE.WORK_2.TOOLS' | translate }}</strong>
      <div class="mt-3">
        <span class="badge badge-sky-soft badge-pulse text-dark me-2 mb-2">Visual Studio 2010</span>
        <span class="badge badge-primary-soft badge-pulse me-2 mb-2">Visual Basic</span>
        <span class="badge badge-success-soft badge-pulse me-2 mb-2">C#</span>
        <span class="badge badge-warning-soft badge-pulse text-dark me-2 mb-2">Oracle</span>
        <span class="badge badge-purple-soft badge-pulse text-dark me-2 mb-2">Visual Studio 2019</span>
        <span class="badge badge-danger-soft badge-pulse me-2 mb-2">CSS</span>
        <span class="badge badge-primary-soft badge-pulse me-2 mb-2">Jquery</span>
        <span class="badge badge-warning-soft badge-pulse me-2 mb-2">Javascript</span>
        <span class="badge badge-gray-soft badge-pulse me-2 mb-2">Web Services</span>
      </div>
    </div>
  </div>
  <br />
  <div class="card shadow-sm border-1 animate__animated animate__fadeInUp card-gray">
    <div class="card-body">
      <h5 class="card-title">{{ 'EXPERIENCE.WORK_1.TITLE' | translate }}</h5>
      <h6 class="text-muted">{{ 'EXPERIENCE.WORK_1.PERIOD' | translate }}</h6>
      <p class="text-justify">{{ 'EXPERIENCE.WORK_1.DESCRIPTION' | translate }}</p>
      <strong>{{ 'EXPERIENCE.WORK_1.TOOLS' | translate }}</strong>
      <div class="mt-3">
        <span class="badge badge-primary-soft badge-pulse me-2 mb-2">Visual Basic</span>
        <span class="badge badge-danger-soft badge-pulse me-2 mb-2">SQL Server 2008</span>
        <span class="badge badge-success-soft badge-pulse me-2 mb-2">SAP Business</span>
        <span class="badge badge-warning-soft badge-pulse text-dark me-2 mb-2">Crystal Reports</span>
        <span class="badge badge-sky-soft badge-pulse text-dark me-2 mb-2">Visual Studio 2010</span>
        <span class="badge badge-success-soft badge-pulse me-2 mb-2">Visual Studio 2012</span>
        <span class="badge badge-purple-soft badge-pulse text-dark me-2 mb-2">SAP Business</span>
        <span class="badge badge-orange-soft badge-pulse text-dark me-2 mb-2">HTML</span>
        <span class="badge badge-danger-soft badge-pulse me-2 mb-2">CSS</span>
        <span class="badge badge-primary-soft badge-pulse me-2 mb-2">Jquery</span>
        <span class="badge badge-warning-soft badge-pulse me-2 mb-2">Javascript</span>
        <span class="badge badge-warning-soft badge-pulse text-dark me-2 mb-2">Dev Express</span>
      </div>
    </div>
  </div>
</section>


