<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * CV 2025 - Adrian Zavaleta * * * * * * * * *  -->
<!-- * * * * * * * * * * * * * * Angular * * * * * * * * * * * * * -->
<div id="cv-content">
  <app-header></app-header>
  <app-contact></app-contact>

  <div class="container">
    <div class="row">
      <div class="col-md-5 bg-gray">
        <div id="skills-section">
          <app-skills></app-skills>
        </div>
      </div>

      <div class="col-md-7">
        <div id="about-section">
          <app-about></app-about>
        </div>
        <div class="page-break"></div> <!-- Forzamos salto -->
        <div id="projects-section">
          <app-projects></app-projects>
        </div>
        <br/>
        <div class="container">
          <app-pdf-export elementId="cv-content" fileName="AdrianZavaleta-CV.pdf"></app-pdf-export>
        </div>

        <p class="mt-4 mb-0 text-muted">© {{ anioActual }} Adrián Zavaleta</p>
      </div>
    </div>
  </div>
</div>
<!-- Contenedor invisible para exportar CV -->
<div id="cvExportContainer" class="export-container d-none">
  <!-- Aquí se podría clonar dinámicamente el contenido del CV antes de exportar -->
</div>





